<div class="row">
  <div class="col-lg-2">

  </div>
  <div class="col-lg-8 mt-5">
    <ngb-progressbar type="dark" textType="white" [value]="questionProgress" [showValue]="false"></ngb-progressbar>
    <div *ngFor="let item of questionsArray; let i = index" class="row">
      <div *ngIf=" index == i">
        <div class="row">
          <div class="col-lg-12">
            <h3>Question {{index + 1}} Of {{this.questionsArray.length}}</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <h6>{{item.category}}</h6>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <ngx-star-rating [(ngModel)]="difficultyNumber" [id]="'2'" [disabled]="true"></ngx-star-rating>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <h3>{{item.question}}</h3>
          </div>
        </div>
        <div class="row">
          <div *ngFor="let answer of item.incorrect_answers; let q = index" class="col-lg-6 mt-2">
            <button [disabled]="disabled" (click)="checkAnswer(item.correct_answer,answer,item.difficulty)"
              style="width: 100%;">{{answer}} </button>
          </div>
          <div class="col-lg-6 mt-2">
            <button [disabled]="disabled" (click)="checkAnswer(item.correct_answer,item.correct_answer,item.difficulty)"
              style="width: 100%;">{{item.correct_answer}} </button>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-lg-5 mt-4">
      </div>
      <div class="col-lg-2 mt-4">
        <button style="width: 100%;" (click)="Next()">Next Question </button>
      </div>
      <div class="col-lg-5 mt-4">
      </div>
    </div>

    <div *ngIf="isSelect" class="row">
      <div class="col-lg-5 mt-4">
      </div>
      <div class="col-lg-2 mt-4">
        <h1 *ngIf="iscorrect">Correct </h1>
        <h1 *ngIf="!iscorrect">Sorry! </h1>
      </div>
      <div class="col-lg-5 mt-4">
      </div>
    </div>

  </div>
  <div class="col-lg-2">

  </div>
  <div class="col-lg-4 mt-2">
    <b class="bg-success">Correct Score: {{correctWidth}} %</b>
  </div>
  <div class="col-lg-4 mt-2">
    <b class="bg-danger">Wrong Score: {{wrongWidth}} %</b>
  </div>
  <div class="col-lg-4 mt-2">
    <b class="bg-info">Max Score: {{maxWidth}} %</b>
  </div>
  <div class="col-lg-12 mt-4">
    <div class="progress">
      <div class="progress-bar bg-success" role="progressbar" [style.width]="correctWidth+'%'" aria-valuenow="50"
        aria-valuemin="0" aria-valuemax="100"></div>
      <div class="progress-bar bg-danger" role="progressbar" [style.width]="wrongWidth+'%'" aria-valuenow="30"
        aria-valuemin="0" aria-valuemax="100"></div>
      <div class="progress-bar bg-info" role="progressbar" [style.width]="maxWidth+'%'" aria-valuenow="70"
        aria-valuemin="0" aria-valuemax="75"></div>
    </div>
  </div>

</div>